body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}

.text-danger {
    color: #F27073 !important;
}

section {
    padding: 4rem 0;
}



.navbar {
    border-bottom: 2px solid #F27073;
}

.navbar .nav-link {
    padding: 0 0.5em;
    color: black;
    transition: background-color 0.2s ease-out, font-weight 0.2s ease-out;
}

.navbar .nav-link:target {
    font-weight: bold !important;
}

section.fill {
    min-height: 100vh;
}

#home {
    background: url('../images/about_us_01.jpg') no-repeat center bottom;
    background-size: cover;
}

#home .nav-link {
    color: black;
    font-size: 14px;
}


.title {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.work-title {
    text-transform: uppercase;
    margin-bottom: 4rem;
}

#about, .nav-link.active {
    background-color: #f06e75 !important;
}


.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#work .nav-link {
    color: black;
}

#work .nav-link.active {
    color: white;
}


#home .nav-link:hover {
    text-decoration: underline;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#unicorn_stencil,
#orange-juice-diaries {
    padding: 0 2rem;
}

#work > .aos-init {
    padding: 0 2.75rem;
}

#clients img {
    margin: 2rem 0;
}

.carousel-control-prev {
    left: -3rem;
}

.carousel-control-next {
    right: -3rem;
}

.navbar-brand {
    display: block;
    width: 100%;
    text-align: center;
}


#brand_logo {
    width: 200px;
}


@media (min-width: 768px) {
    .navbar-brand {
        display: inline-block;
        width: initial;
        text-align: left;
    }

    #brand_logo {
        width: 380px;
    }

    #home .nav-link {
        font-size: 18px;
    }

    .carousel-control-prev {
        left: -5rem;
    }

    .carousel-control-next {
        right: -5rem;
    }
}

body[data-aos-duration='4000'] [data-aos],
[data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
}

#contact {
    border-bottom: 1rem solid #f06e75;
}

#testimonials {
    margin: 0 3rem;
}

.testimonial {
    font-size: 14px;
    padding: 100px 2rem 1.5rem 2rem;
    background-color: #f06e75;
    color: white;
    height: 360px;
}

#testimonials .col {
    max-width: 340px;
}

#testimonials img {
    position: relative;
    bottom: -80px;
}